@page "/"

<PageTitle>Tienda Virtual EAB</PageTitle>

<div class="container">
    <div class="row">
        <div class="col align-self-center text-center">
            <h1 class="display-5">La tiendita de Edwin</h1>
        </div>
        <div class="text-center">
            <h3>Bienvenidos!!!</h3>
        </div>
    </div>

</div>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
